

#socialside {
    position: fixed;
    top: 120px;
    margin-left: -250;
}


.scli {
    position: relative;
    width: 182px;
    list-style: none;
    border-radius: 0 8px 8px 0;
    margin-left: -184px;
    left:0;
    cursor: pointer;
    
}

.scli img {
    background-color: #333;
    border-radius: 0 5px 5px 0;
    height: 30px;
    position: absolute;
    right: 0;
    top:0;
}

.scli li {
    height: 30px;
    line-height: 30px;
    margin: 5px 0;
    padding-right: 50px;
  
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}
