ul#navigation li.external:hover .icon, ul#navigation li.currentmenu .icon{
	color: #00b0b0;
}
.ul-boxed li {
	border-left-color:#00b0b0;
}
ul.ul-card li .dy .year {
	background-color: #00b0b0;
}
ul.ul-dates div.dates span {
	background-color: #00b0b0;
}
ul.timeline li .date {
	background: #00b0b0;
}
ul.timeline li .data {
	border-left-color: #00b0b0;
}
.ul-withdetails li .imageoverlay {
	background: #00b0b0;
}
.cd-active.cd-dropdown > span {
	color: #0dd;
}
.cd-active.cd-dropdown ul li span:hover {
	background: #00b0b0;
}
.pitems .pubmain .pubassets {
	border-top-color:#00b0b0; 
}
.pitems .pubmain .pubassets a:hover,.pitems .pubmain .pubassets a:focus,.pitems .pubmain .pubassets a.pubcollapse {
	background: #00b0b0;
}
.contact-office .icon-huge, .contact-lab .icon-huge {
	color: #00b0b0;
}

/* socpndary color 
**************************************************/
ul.ul-card li .dy .degree {
	background-color: #0bb;
}
ul.ul-dates div.dates span:last-child {
	background-color: #0bb;
}
ul.timeline li.open .circle {
	background-color: #0bb;
}
ul.timeline li.open .data {
	border-color: #0bb;
}
#labp-heads-wrap {
	background-color: #0bb;
}
#labp-heads-wrap:after{
	border-top-color: #0bb;
}











